---
layout: default
carousel: 3 
js-src: home.js
---

<div class="home">
  <section class="heading">
    <div class="has-animation animation-ltr" data-delay="10">
      <p class="mt-3 text-center display-2">Sample title</p>
    </div>
    <div class="has-animation animation-rtl" data-delay="10">
      <p class="mt-3 text-center display-4">A little bit longer subtitle</p>
    </div>
  </section>

  <div class="wave-header">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18v44h-352z" />
      </defs>
      <g>
        <use xlink:href="#gentle-wave" x="50" y="3" />
      </g>
      <g>
        <use xlink:href="#gentle-wave" x="50" y="0" />
      </g>
      <g>
        <use xlink:href="#gentle-wave" x="50" y="9" />
      </g>
      <g>
        <use xlink:href="#gentle-wave" x="50" y="6" />
      </g>
    </svg>
  </div>
  <section class="main">
    <div class="container">
    <div id="main-carousel" class=" d-none d-md-block carousel slide p-5" data-ride="carousel">
      {% assign columns = page.carousel | times: 1.0 %} {% assign rows = site.data.maincards.size | divided_by: columns | ceil %}
      <div class="carousel-inner">
        {% for i in (1..rows) %}
        <div class="carousel-item {% if i == 1 %} active {% endif %} flex-column flex-sm-row">
          <div class="card-deck p-1 mx-2">
            {% assign offset = forloop.index0 | times: columns %} {% for card in site.data.maincards limit: columns offset:offset %}
            <div class="card">
              <img class="card-img-top img-fluid" src="https://picsum.photos/800/600" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title text-primary">{{card.title}}</h5>
                <p class="card-text text-muted">{{card.subtitle}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" style="width: 2%;" href="#main-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" style="width: 2%;" href="#main-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div id="small-main-carousel" class="d-block d-md-none carousel slide p-5" data-ride="carousel">
      <div class="carousel-inner">
        {% for card in site.data.maincards %}
        <div class="carousel-item {% if forloop.index0 == 0 %} active {% endif %} ">
          <div class="card">
            <img class="card-img-top img-fluid" src="https://picsum.photos/800/600" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title text-primary">{{card.title}}</h5>
              <p class="card-text text-muted">{{card.subtitle}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" style="width: 2%;" href="#small-main-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" style="width: 2%;" href="#small-main-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>



  </div>
  </section>

  <section class="recent-articles">
    <h1 class="text-primary mb-0"></i>Articoli recenti:</h1>
    <h5 class="text-muted mb-3">Apri il <a class="text-secondary" href="/blog">blog</a> per la lista completa</h5>

    <ul class="post-list">
      {% for post in site.posts limit : 3%}
      <li class="post-preview">
        <span class="post-meta"> <i class="far fa-calendar-alt"></i> {{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="text-secondary" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        {% if post.tags.size > 0 %}
        <div class="d-flex align-items-center">
          {% for tag in post.tags %}
          <span class="badge badge-primary mx-1"><i class="fas fa-hashtag"></i> {{tag}}</span>
          {% endfor %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
