<footer >
  <section class="contacts">
    <svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
      <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z" />
    </svg>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-4 mb-md-0">
          <div class="map" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
            <script>
              (function() {
                var setting = {
                  height: 150,
                  zoom: 14,
                  queryString: "Torino, Metropolitan City of Turin, Italy",
                  place_id: "ChIJJb4YZBJtiEcRv3ec1gP4A4k",
                  satellite: false,
                  centerCoord: [45.07017412159691, 7.670089199999994],
                  cid: "0x8903f803d69c77bf",
                  lang: "en",
                  cityUrl: "/italy/turin",
                  cityAnchorText: "Map of Turin, Area Nord, Italy",
                  id: "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                  embed_id: "182774"
                };
                var d = document;
                var s = d.createElement("script");
                s.src = "https://embedgooglemap.1map.com/js/script-for-user.js?embed_id=182774";
                s.async = true;
                s.onload = function(e) {
                  window.OneMap.initMap(setting);
                };
                var to = d.getElementsByTagName("script")[0];
                to.parentNode.insertBefore(s, to);
              })();
            </script>
            <a href="https://embedgooglemap.1map.com?embed_id=182774">1 Map</a>
          </div>
          <div class="d-flex justify-content-center social-link">
            {% for item in site.data.social %} {% if item.visible %}
            <a class="social-link" href="{{ item.link }}"><i class="{{ item.icon }}" aria-hidden="true"></i></a>
            {%endif%} {% endfor %}
          </div>
        </div>
        <div class="col-md-6 col-sm-12 justify-content-center align-self-center">
          <table class="table table-borderless">
            {% for item in site.data.contacts %} {% if item.visible %}
            <tr>
              <td><i class="{{item.icon}}" aria-hidden="true"></i></td>
              <td style="width: auto;">{{item.text}}</td>
            </tr>
            {%endif%} {% endfor %}
          </table>
        </div>
      </div>
      <div class="row social-row"></div>
    </div>
  </section>
</footer>
