<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}" />

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <script src="https://kit.fontawesome.com/969845ccdc.js" crossorigin="anonymous"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
