<header role="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Logo</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class=" btn btn-secondary" href="/blog"><i class="fas fa-blog"></i> Blog <span class="sr-only">(current)</span> </a>
          </li>
        </ul>
    </div>
  </nav>
</header>
