.home {
  section {
    &.heading {
      @extend .container;
      margin-top: 6em;
      margin-bottom: 6em;
    }

    &.main {
       background-color: $secondary;

      svg {
        path {
          &.fill-secondary {
            fill: $secondary;
          }

          &.fill-primary {
            fill: $primary;
          }

          &.fill-secondary-dark {
            fill: $third;
          }
        }
      }

      .card-deck {
        &:not(:first-child) {
          @extend .mt-3;
        }
      }
    }

    &.recent-articles {
      @extend .container;
      margin-top: 6em;
      margin-bottom: 6em;

      h3{
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        li:not(:first-child) {
          @extend .mt-4;
        }
      }
    }
  }

  .has-animation {
    position: relative;

    p,
    img {
      opacity: 0;
    }

    &.animate-in {
      p,
      img {
        animation: textHidden 0.1s 1.1s forwards;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 10;
      }

      &:before {
        background-color: $primary;
      }

      &:after {
        background-color: $secondary;
        animation-delay: 0.5s;
      }
    }

    &.animation-ltr.animate-in {
      &:before {
        animation: revealLTR 1.8s ease;
      }

      &:after {
        animation: revealLTR 1s 0.6s ease;
      }
    }

    &.animation-rtl.animate-in {
      &:before {
        animation: revealRTL 1.8s ease;
      }

      &:after {
        animation: revealRTL 1s 0.6s ease;
      }
    }
  }

  .wave-header {
    height: 3.5em;
    > svg {
      display: block;
      width: 100%;
      height: inherit;
      max-height: 100%;
      margin: 0;
      z-index: 5;
      bottom: 0;
      position: relative;
      left: 0px;
      float: left;

      g {
        &:nth-of-type(1) {
          > use {
            fill: $third;
            animation: move-forever1 10s linear infinite;
            &:nth-child(1) {
              animation-delay: -2s;
            }
          }
        }

        &:nth-of-type(2) {
          > use {
            fill: $primary;
            animation: move-forever2 8s linear infinite;
            &:nth-child(1) {
              animation-delay: -2s;
            }
          }
        }

        &:nth-of-type(3) {
          > use {
            fill: rgb(227, 255, 161);
            animation: move-forever3 6s linear infinite;
            &:nth-child(1) {
              animation-delay: -2s;
            }
          }
        }

        &:nth-of-type(4) {
          > use {
            fill: $secondary;
            animation: move-forever4 4s linear infinite;
            &:nth-child(1) {
              animation-delay: -2s;
            }
          }
        }
      }
    }
  }
}
