$font-family-sans-serif: 'Baloo Da 2', cursive;
$body-background: #f5f5dc;
$primary: rgba(39, 48, 67, 1);
$primary-light: rgba(145, 151, 174, 1);
$secondary: #4f7cac;
$third: #cdd7d6;
$palette-contrast: rgba(239, 246, 238, 1);
$accent: #35ac67;
