@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");
@import "mixins";
@import "home";
@import "post";

body {
  background-color: $body-background;
  overflow-x: hidden;
}

footer {
  section {
    &.contacts {
      color: $third;
      background-color: $primary;

      .social-link {
        a {
          padding: 1em 1em 0 1em;
          font-size: 200%;
          color: $third;
        }
      }

      > svg {
        path {
          &:nth-child(1) {
            fill: $body-background;
          }

          &:nth-child(2) {
            fill: $secondary;
          }
        }
      }

      .row {
        &:first-of-type {
          @extend .p-3;
          padding-top: 3em !important;
        }

        .map {
          border: solid 2px $secondary;
        }

        table {
          @extend .mx-auto;
          margin-bottom: 0;
          width: 1%;
          color: inherit;

          td {
            font-size: 120%;
            white-space: nowrap;
          }
          i {
            color: $secondary;
          }
        }
      }
    }
  }
}
