---
layout: default
title: Blog
js-src: blog.js
---

<main class="container mb-5">
  <h1 class="mt-3 mb-0 text-primary display-4">Il blog di Alice:</h1>
  <h5 class="mb-5 text-muted">{{paginator.total_posts}} articoli trovati, suddivisi in {{paginator.total_pages}} pagine.</h5>

  <ul class="p-0">
    {% for post in paginator.posts %}
    <li class="card mt-3">
      <div class="card-body">
        <h3 class="card-title mb-0">
          <a href="{{post.url}}">{{ post.title }}</a>
        </h3>
        <span class="text-muted">Pubblicato il {{ post.date | date: "%D"}} alle {{ post.date | date: "%R"}} {% if page.author %} da {{ page.author }}{% endif %}</span>
        {% if post.tags.size > 0 %}
        <div class="d-flex align-items-center">
          <span class="text-muted">Tags : </span>
          {% for tag in post.tags limit : 3%}
          <span class="tag bg-secondary"><i class="fas fa-hashtag"></i> {{tag}}</span>
          {% endfor %}
        </div>
        {% endif %}
        <p class="card-text">{{ post.excerpt }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="related">
    {% if paginator.previous_page %}
    <div class="mr-auto previous">
      <span class="d-block text-center text-secondary"><i class="fas fa-arrow-alt-circle-left"></i></span>
      <h5><a href="{{paginator.previous_page_path}}"> Pagina {{paginator.previous_page}}</a></h5>
    </div>
    {% endif %} {% if paginator.next_page %}
    <div class="ml-auto next">
      <span class="d-block text-center text-secondary"><i class="fas fa-arrow-alt-circle-right"></i></span>
      <h5><a href="{{paginator.next_page_path}}"> Pagina {{paginator.next_page}}</a></h5>
    </div>
    {% endif %}
  </div>
</main>
