---
layout: default
---

<div class="single-post">
  <header class="mt-4">
    <h1 class="display-4 text-primary">{{ page.title }}</h1>
    <div class="meta animated fadeInLeft">
      <span class="text-muted mb-0">Pubblicato il {{ page.date | date: "%D"}} alle {{ page.date | date: "%R"}} {% if page.author %} da {{ page.author }}{% endif %}</span>
      {% if page.tags.size > 0 %}
      <div class="d-flex align-items-center">
        <span class="text-muted">Tags : </span>
        {% for tag in page.tags %}
        <span class="tag animated rotateIn delay-1s bg-secondary"><i class="fas fa-hashtag"></i> {{tag}}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="related" >
    {% if page.previous %}
    <div class="mr-auto previous">
      <span class="d-block text-center text-secondary"><i class="fas fa-arrow-alt-circle-left"></i></span>
      <h5><a href="{{page.previous.url | prepend: site.baseurl}}"> {{page.previous.title}}</a></56>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="ml-auto next">
      <span class="d-block text-center text-secondary"><i class="fas fa-arrow-alt-circle-right"></i></span>
      <h5><a href="{{page.next.url | prepend: site.baseurl}}"> {{page.next.title}}</a></56>
    </div>
    {% endif %}
  </div>
</div>
